.history-page-container {
  padding: 30px;
}
.history-construction-order-info p {
font-size: 1.2rem;
font-weight: 600;
}
.btn {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  margin-bottom: 8px;
}