.authen-template-dashboard {
    display: flex; /* Sử dụng Flexbox */
    height: 100vh; /* Chiều cao toàn bộ viewport */
}

.sidebar {
    width: 300px; /* Chiều rộng của thanh bên trái */
    height: 100%; /* Chiều cao của thanh bên trái */
    background: url('../../images/pattern.png');
    background-color: rgba(6, 21, 41,0.8);
    background-blend-mode: overlay;
    padding: 20px; /* Khoảng cách bên trong */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
<<<<<<< HEAD
    box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.5);
    position: relative; /* Hoặc absolute nếu cần */
    z-index: 10; /* Đảm bảo nó nằm trên các phần tử khác */
=======
}

.sidebar ul { 
    color: white;
    font-size: 17px;
    font-weight: 200;
    list-style-type: none; /* Bỏ dấu chấm đầu dòng */
    padding: 0 ; /* Bỏ khoảng cách bên trong */
    cursor: pointer; /* Con trỏ khi di chuột qua */
    text-decoration: none;
}
.sidebar a{
    color: white;
}
.sidebar ul :hover{
    color: gray;
    font-weight: bold;
}
.sidebar ul {
    padding: 5px 0;  
}

.sidebar li {
    margin: 20px 0; /* Khoảng cách giữa các mục */
    cursor: pointer; /* Con trỏ khi di chuột qua */
}
.sidebar li.selected {
    border: 2px solid gray; /* Khung bo viền */
    background-color: rgba(200, 200, 200, 0.3); /* Màu nền khi được chọn */
>>>>>>> 2fed02ac601756c781904e219409bb9fbb9381a6
}

.dashboard{
    width: 250px;
    height: auto;
    margin: auto;
}

.content {
    flex: 1; /* Chiếm không gian còn lại */
    padding: 20px; /* Khoảng cách bên trong */
    background-color: white; /* Màu nền của nội dung chính */
    overflow-y: auto; /* Cuộn nếu nội dung quá dài */
}

.navbar-admin {
    display: flex; /* Sử dụng Flexbox */
    justify-content: space-between; /* Căn đều không gian giữa các phần tử */
    background-color: white; /* Màu nền */
    padding: 10px 20px; /* Khoảng cách bên trong */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4); /* Đổ bóng */
    margin-bottom: 25px;
}

.menu-icon {
    font-size: 24px; /* Kích thước biểu tượng menu */
    cursor: pointer; /* Con trỏ khi di chuột qua */
}

.greeting {
    font-size: 18px; /* Kích thước chữ */
    color: #333; /* Màu chữ */
    margin: auto;
}

.icons {
    display: flex; /* Sử dụng Flexbox cho các biểu tượng */
    align-items: center; /* Căn giữa theo chiều dọc */ 
}
.icon{
    margin-left: 15px; /* Khoảng cách giữa các biểu tượng */
    cursor: pointer; /* Con trỏ khi di chuột qua */
    font-size: 22px;
    color: black;
    transition: transform 1s;
}
.noti :hover{
    color: rgb(187, 187, 32);
    animation: shake 0.5s; /* Thời gian lắc là 0.5 giây */
    animation-iteration-count: infinite; /* Lặp lại vô hạn (nếu cần) */

}
.setting:hover{
    color: green;
    transform: rotate(180deg);

}
@keyframes shake {
    0% { transform: translate(1px, 0); }
    25% { transform: translate(-1px, 0); }
    50% { transform: translate(1px, 0); }
    75% { transform: translate(-1px, 0); }
    100% { transform: translate(0, 0); }
}

.logout {
    margin-left: 20px;
    color: rgb(0, 0, 0); /* Màu chữ cho nút đăng xuất */
    font-weight: bold; /* Đậm chữ */
}
.logout:hover{
    color: red;
}
.ant-menu {
    background-color: transparent;
    padding: 0;
}
.ant-menu-title-content  {
    color: white;
    font-size: 17px;
    font-weight: 200;
    padding: 0 ; 
}
.ant-menu-item-selected .ant-menu-title-content {
    color: black;
    font-size: 17px;
    font-weight: 200;
}