.authen-card-container{
    gap: 20px ;
}
.authen-card-content{ 
    padding: 10px;
    text-align: center;
}
.authen-card-content a{
  text-decoration: none;
}
.authen-card-title{
   text-decoration: none;
   text-underline-offset: none;
}
.authen-card-description{
    text-decoration: none;
}
