.payment {
    width: 70vw;
    height: 90vh;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center; /* Canh giữa theo chiều ngang */
    align-items: center;     /* Canh giữa theo chiều dọc */
    flex-direction: column;  /* Đặt chiều dọc cho flex */
    margin: auto;
    border-radius: 40px;
}