.ant-input[readonly] {
    background-color: #C7D1D9; /* Màu xám nhạt */
    border-radius: 10px;
    color: black;
    text-align: center;
  }
  .progress {
    display: flex;
    justify-content: center;
  }
  .ant-form {
    padding: 50px;  
  }
  .ant-form input{
    font-size: 1.1rem;
    font-weight: 400;
  }
  .more-detail{
    color: black;
    display: flex;
    justify-content: center;
  }
  .more-detail:hover{
    color: blue;
    font-weight: 6  00;
  }
  .display-input{
    display: flex; 
    justify-content: center; 
    align-items: center;
    background-color: #C7D1D9; /* Màu xám nhạt */
    color: black;
    border: 1px solid #d9d9d9; 
    border-radius: 14px; 
    padding: 4px 11px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    height: 38px;
    width: 100%;
    text-align: center;
    margin: 5px
  }
  .display-input, .ant-form-item {
    margin-bottom: 10px; /* Điều chỉnh khoảng cách */
  }
  
  .ant-select, .display-input {
    width: 100%; /* Đảm bảo các phần tử chiếm cùng chiều rộng */
  }
  .ant-table-tbody td{
    background-color: whitesmoke;
  }
