.table-template .ant-table-thead > tr > th  {
    background-color: #0C2240;
    color: white;
    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}
.table-template .ant-table-tbody > tr > td  {
    background-color: #C7D1D9;
    font-size: 1rem;
    font-weight: lighter;
    text-align: center;
}
.button-template {
    background-color: #000;
    color: white;
    font-family:  'Inter';
    font-size: 0.8rem;
    font-weight: 300;
}.button-template2 {
    padding: 8px;
    background-color: #1a2b47;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}
h1{
    margin-bottom: 15px;
}
.display-input{
    display: flex; 
    justify-content: center; 
    align-items: center;
    background-color: #C7D1D9; /* Màu xám nhạt */
    color: black;
    border: 1px solid #d9d9d9; 
    border-radius: 14px; 
    padding: 4px 11px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    height: auto;
    width: 100%;
    text-align: center;
    margin: 5px
  }
.radio-filter {
    text-align: right;
    margin-bottom: 1%;
}