
.footer {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.footer-content {
    background-color: #1a2b47;
    padding: 20px 0;
    width: 100%;
    display: flex; 
    justify-content: space-between; 
}
.footer-contact {
    flex: 6;
    padding: 10px;
}
.footer-contact li, .footer-contact h2 {
    color: white;
    padding-left: 20px; 
}
.footer-contact li {
    padding-bottom: 10px;
    margin: 0;
}
.footer-contact ul, .footer-nav ul{
    list-style: none; 
    padding: 0; 
    margin: 0;
}
.footer-nav {
    flex: 2;
    padding: 30px 10px 10px 20px ;
}
.footer-nav li  {
    margin: 10px 0px; 
}
.footer-nav a {
    color: white; 
    text-decoration: none; 
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}
.footer-title {
    flex: 4;
    padding: 30px 10px 10px 20px ;
}
.footer-title__text {
    color: white;
    font-weight: 500;
    text-align: left;
}   
.footer-title__text--underline {
    text-decoration: underline;
    text-underline-offset: 10px;
}
.footer-description {
    color: white;
    font-size: 16px;
    text-align: justify;
}
.footer__hr--vertical {
    border: 2px solid white;
    margin-top: 30px;
}
.footer-coppyright {
    background-color: #575958;
    padding: 3px 20px;
}
.footer-coppyright h3 {
    color: #A8A6A6;
    font-size: 16px;
    font-weight: 400;
}
