
.common-page-container {
    min-height: 100vh;
    background: 
    linear-gradient(rgba(199, 209, 217, 0.9), rgba(199, 209, 217, 0.9)), 
    linear-gradient(rgba(1, 0, 0, 0.16), rgba(8, 0, 0, 0.16)), 
    url('https://firebasestorage.googleapis.com/v0/b/koi-pond-cons.appspot.com/o/360_F_277309825_h8RvZkoyBGPDocMtippdfe3497xTrOXO.jpg?alt=media&token=d7d55fab-e34f-483f-9125-b61b199abbf2');
    background-size: auto;
    position: relative;
    overflow: hidden;
}

.common-page-banner {
    position: relative;
    height: 50vh; 
    overflow: hidden; 
    width: 100%;
}

.banner-title-container {
    background-color: rgba(13, 13, 13, 0.55);
    position: absolute; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    padding: 20px; 
    height: 100%;
    width: 30%;
}
.banner-text{
    color: white; 
    margin: 0; 
    bottom: 0px; 
    position:absolute;
    left: 25%;
    transform: translateX(-50%);
    padding-bottom: 20px;   
}

.banner-text h1 {
    font-size: 40px;
}
.banner-text p {
    color: rgba(255, 254, 254, 0.664);
    font-size: 20px;
}

.common-page-banner img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}